 
.offers_text{
    animation: autoshow both;
    animation-timeline: view();
}
@keyframes autoshow {
    0%{
        opacity: 0;
        transform: translateY(100px) scale(0.3);
    }
    50%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
/*
.product_content{

}
.hero_text{

}*/
.subheadline_text{
    animation: autoblur both;
    animation-timeline: view(20% auto);
}
@keyframes autoblur{
    0%{
        filter: blur(40px);
    }
    50%{
        filter: blur(0);
    }
}