
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
        
/* just for any text
a{
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-style: normal;
a{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
}*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #b6bbc2c5;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*Header styling*/
.header{
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    height: 95px;
    top: 1px;
    z-index: 600;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
#logo_image{
    max-width: 20%;
}
#logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030c61;
  position: absolute;
  left: 5px;
  top: 5px;
}
#header_text{
    padding-inline-start: 10px;
}

a{
    text-decoration: none;
    color: #030c61;
}

/*menu =========*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 100px;
}
 .navbar-menu{
    display: flex;
    text-align: center;
    gap: 0.5rem;
    list-style: none;
    position: absolute;
    top: 27px;
    right: 30px;
    padding: 20px;
}
.navbar-container, .navbar-menu,
 #nav-list, #nav-link{
    text-decoration: none;
    color: #030c61;
    font-weight: 600;
    padding: 3px 5px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    white-space: nowrap;
}
#nav-list{
    padding: 3px 2px;
 }
#nav-list > #nav-link:hover
 {
    color: white;
    background-color: coral;
    box-shadow: 2px 3px 4px #3e4852;
    border-radius: 5px;
}
#nav-link.active{
    color: white;
    background-color: coral;
    box-shadow: 2px 3px 4px #3e4852;
    border-radius: 5px;
}
/*toogle ==========*/
.toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #110b0b;
    transition: all 0.3s ease-in-out;
}

/* DROP BOTTON */

.drop{
    position: relative;
    display: inline-block;
    cursor: context-menu;
    margin-top: 6px !important;
}
.dropbtn{
    color: #030c61;
    padding: 3px;
    border: none;
    border-radius: 4px;
    font-weight: bold;  
    background-color: transparent;     
}
.dropbtn:hover{
    color: white;
    background-color: coral;
    border-radius: 5px;
    box-shadow: 2px 3px 4px #3e4852;
}
.dropcontent{
    display: none;
    position: absolute;
    background-color: rgba(128, 126, 125, 0.308);
    min-width: 80px;
    box-shadow: 0 8px 16px 0 black;
    z-index: 1;
    margin-block: 10px;
}
.dropcontent a{
    color: #e0dbdb;
    padding: 8px 10px ;
    display: block;

}
.dropcontent a:hover{
    background-color: #030e72;
    color: #e0dbdb;
    border-radius: 8px;

}
.dropcontent.click{
    display: block;
    color: #ffffff;
    border-radius: 8px;
}
.drop:hover {
    color: white;
    border-radius: 5px;
}

/* hero styling */
#hero{
    position: relative;
    
}
.hero_content{
    display: flex;
    justify-content: space-between;
    background:  var(--gradient-2, linear-gradient(120deg, rgb(255, 160, 125) 0%, #6574fc 70%));
    font-family: "Playwrite AU QLD", cursive;
    font-size: 30px;
    height: 650px;
}
.hero_text{
    position: relative;
    top: 190px;
    left: 25px;
    color: rgb(30, 7, 238);
    height: 300px;
}

.coursel{
    position: relative;
    padding-inline: 20px;
    top: 150px;
    right: 20px;
}
#slide{
    display: block;
    max-width: 500px;
}

/* offers */
.offers_content{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
   
}
.offers_text{
    font-size: 1.5em;
    padding: 25px;
    width: stretch;
    margin: 2px;
    color: #030c61;
    background-color: rgb(193, 196, 199);
}

/*sub head line text*/
.subheadline_text{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: coral;
    color: #030c61;
    padding: 25px;
    font-size: 1.8em;
    font-weight: 600;
}

/* product styling */
#product{
    min-height: 300px;
}
.product_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_des{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 10px;
}
.product_image{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}
#scroll_image{
    align-items: stretch;
    max-width: 150px;
    border-radius: 1em;
}

/* collection */
#collection{
    min-height: 300px;
    background-color: hsl(16, 57%, 75%, 0.5);
    background:  var(--gradient-2, linear-gradient(130deg, rgb(238, 96, 44) 0%, rgb(247, 158, 125) 70%));
}
#collection > .subheadline_text{
    text-decoration-color: rgb(243, 90, 34);
}
.designer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
}
.designer_headline{
    max-width: 400px;
    color: #080b9b;
    margin: 20px;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.designer_headline> h2 > span, p > span{
    color: rgb(173, 53, 10);
    font-size: 30px;
    font-weight: 600;
    font-family: "Playwrite AU QLD", sans-serif;
}
.him_her{
    display: block;
}
.designer_text{
    display: flex;
    padding: 8px;
    width: 100%;
    min-height: 150px;
    
}
#text_image{
    width: 300px;
    height: 168px;
    object-fit: cover;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 3px 4px 4px rgb(134, 133, 133);

}
#forher_text, #forhim_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 110, 65);
    color: #030c61;
    font-size: 2em;
    font-weight: 600;
    font-family: cursive;
    font-style: italic;
    margin-inline: 5px;
    padding-inline: 15px;
    max-width: 200px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/*best seller product ======*/
#bestseller_product{
    min-height: 300px;
}
.bestseller_text{
    text-align: center;
    padding: 5px;
}
.bestseller_feild{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px);
    align-content: center;
    justify-content: center;
    grid-gap: 1em;
    margin: 20px;
}
.bestseller_image{
    display: inline-block;
    justify-content: center;
    text-align: center;
    height: 350px;
    padding: 10px;
    background-color: #babbbd;
    border-radius: 1em;
    box-shadow: 3px 4px 4px rgb(105, 102, 102);
    
}
.bestseller_image> h3{
    font-size: 1.2em;
    font-family: cursive;
    font-weight: 600;
    padding: 10px;
}
#seller_image{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.image_text{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
#link_more{
    display: inline-block;
    color: #040a41;
    background-color: #9c9fa5;
    border-radius: 0.2em;
    font-weight: 500;
    width: 200px;
    padding: 5px 0px;
    margin: 10px 0px;
    transition: all 0.2s ease;
}
#link_more:hover{
    scale: 1;
    background-color: #0c1e42;
    color: #9c9fa5;
    padding: 8px;
}

/*testimonials =========*/
#testimonials{
    margin-block: 70px;
    min-height: 300px;
    background-color: #bac1f8;
}
.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 40px;
    flex-wrap: wrap;
}
.happy-customers{
    padding: 30px 10px;
    margin: 20px;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: coral;
    box-shadow:  2px 3px 5px rgb(69, 69, 252);
    color: #040a41;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* subscribe news letter*/
#form{
    margin-bottom: 20px;
}
.form_content{
    width: auto;
    padding: 20px 0;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding: 18px 10px;
    width: 400px;
    border: 3px solid #030c61;
    border-radius: 10px;
    font-size: larger;
    color: #040a41;
    accent-color: #080b9b;
}
#submit-btn{
    width: 120px;
    padding: 15px 0;
    border-radius: 0.8em;
    font-size: 20px;
    font-weight: 700;
    background:  var(--gradient-2, linear-gradient(130deg, rgb(60, 46, 255) 0%, rgb(44, 80, 243) 70%));
    text-transform: uppercase;
    border: none;
    scale: 0.8;
    transition: all 0.3s ease;
    color: rgb(209, 208, 208);
}
#submit-btn:hover{
    scale: 1;

}


/*footer*/
#footer{
    background-color: rgb(3, 5, 73);
    padding: 60px 30px;
}
.footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col > h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #ffff;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease-in;
}
ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.social-links> a{
    background-color: #6d6d6dad;
    color: blue;
    border-radius: 50%;
    padding: 5px;
    margin-left: 3px;
    transition: all 0.2s ease-in-out;
}
.social-links> a:hover{
    background-color: rgb(255, 255, 255);
}
.tooltip{
    position: relative;
    display: inline-block;

}
.tooltip .tooltip-text{
    visibility: hidden;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 8px 13px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: -2.5rem;
    opacity: 0;
    transition: all 0.2s ease;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}





/* MEDIA QUERIES */ 

@media (max-width: 850px) and (min-width: 700px){
  .hero_content{
    height: 500px;
    font-size: 20px;
   }
  #slide{
    width: 350px;
    position: relative;
    top: -10px;
  } 

  .navbar{
    padding: 5px;
    width: 60px;
    font-size: 15px;
    position: absolute;
    top: 12px;
  }
   .dropbtn{
    position: relative;
    right: 2px;
    top: -1px;
    padding-inline-start: 10px;
   }
    #logo{
        font-size: 13px;
        position: absolute;
        top: 10px;
        left: -55px;
        width: 60%;
    }
    #logo_image{
       max-width: 15%;
    }
    .dropcontent{
        margin-block: 10px;
        position: absolute;
    }
    .testimonials{
        padding: 25px 10px;
    }
    .happy-customers{
        font-size: 15px;
        padding: 20px 10px;
        width: 200px;
        height: 230px;
    }

   .row{
        display: flex;
        flex-wrap: wrap;
        padding-inline: 10px;
    }
    .footer-col{
        width: 25%;
        padding-inline: 15px;    
   }
}


/*mobile screen*/

@media (max-width: 700px) {
    .hero_content{
        height: 260px;
        font-size: 10px;
   }
  #slide{
        width: 130px;
        position: relative;
        top: -30px;
        left: 10px;
  } 
  .hero_text{
    position: relative;
    top: 130px;
  }
  
    .offers_content{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .product_image{
        padding: 3px;
    }
   
    #forher_text, #forhim_text,
    .header,
    .nav,
    #text_image,
    .designer_text,
    #designer_image{
        max-width: 100%;
    }
    
    #logo{
        font-size: 9px;
        position: absolute;
        left: -30px;
        top: 12px;
    }


 /*navbar responsiveness =========*/
    .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem !important;
        text-align: center;
        position: absolute;
        height: 100vh;
        width: 160px;
        top: 0;
        right: 0;
        padding: 5rem 0rem;
        background-color: rgba(201, 58, 6, 0.774);
        backdrop-filter: blur(20px);
        box-shadow: 0 10px 10px rgb(240, 155, 98);
    }
    
    .navbar-menu.active{
        display: flex;
    }
    #nav-list{
        text-align: center;
    }
    .toggle{
        display: block;
        right: 0;
        top: 15px;
        position: absolute;
        z-index: 900;
    }
    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropbtn{
        position: absolute;
        padding-inline-start: 6px;
    }
    .dropcontent{
        margin-block: 30px;
    }

    .testimonials{
        padding: 25px 8px;
    }
    .happy-customers{
        font-size: 15px;
        padding: 20px;
        width: 320px;
        height: 180px;
    }

    input{
        width: 280px;
        padding: 10px 15px;
    }



    .row{
        display: grid;
        /*grid-template-columns: ;*/
        padding-inline: 70px;

    }
    .footer-col{
        width: 200px;
        padding-inline: 15px;
        margin: 18px;
        
   }
   .footer-col> h4{
    padding-block: 5px;
    margin-block: 8px;
   }
   .social-links > a{
    padding: 10px;
   }
}